@model IEnumerable<LearningSystem.Models.ViewModels.Courses.CourseViewModel>

@{
    ViewBag.Title = "Learning System";
}

<h2>Welcome to the Learning System</h2>

@foreach (var vm in Model)
{
    <div class="course">
        @Html.DisplayNameFor(courseVm => courseVm.Name):
        @Html.DisplayFor(vms => vm.Name)
        <br />
    </div>
    
    @Html.ActionLink("Details", "Details", "Courses", new { id = vm.Id }, new { @class = "btn btn-lg btn-primary" })
}