@{
    Layout = "~/Areas/Blog/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Article";
}

@using (Html.BeginForm())
{
    <br />
    <label for="title">Title:</label>
    <input id="title" type="text" name="Title" />
    <br />
    <label for="content">Content:</label>
    <textarea name="Content" cols="30" rows="10"></textarea>
    <br />
    <input type="submit" value="Add" class="btn btn-lg btn-warning" />
}