@using CarDealer.Models.ViewModels
@model DeletePartViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>

<h2>Are you sure you want to delete this?</h2>
<h3>@Model.Name</h3>
<h4>Price - @Model.Price</h4>
<div>
    <hr />
    <form method="post">
        <input type="number" name="PartId" hidden="hidden" value="@Model.Id" />
        <div class="form-group">
            <input type="submit"  class="btn btn-danger" value="Delete" />
        </div>
    </form>
</div>
