
@{
    ViewBag.Title = "Add";
}

<h2>Add New Customer to Database</h2>
<form method="post">
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" name="Name" placeholder="Enter a customer name" />
    </div>
    <br />
    <div class="input-group">
        <label for="BirthDate" class="input-group-addon">Birthday</label>
        <input type="date" class="form-control" name="BirthDate" placeholder="Enter customer birthday" />
    </div>
    <br />
    <div>
        <input type="submit" value="Add Customer" class="btn btn-success" />
        <input type="reset" value="Reset" class="btn btn-danger" />
    </div>

</form>

