@using CarDealer.Models.ViewModels;
@*@using System.Collections.Generic;*@

@model IEnumerable<AddPartSupplierViewModel>

@{
    ViewBag.Title = "Add";
}

<h2>Add Part</h2>

<form method="post">
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" name="Name" placeholder="Enter Name" />
    </div>
    <br />
    <div class="input-group">
        <label for="Price" class="input-group-addon">Price</label>
        <input type="number" class="form-control" name="Price" placeholder="Enter Price" />
    </div>
    <br />
    <div class="input-group">
        <label for="Quantity" class="input-group-addon">Quantity</label>
        <input type="number" class="form-control" name="Quantity" placeholder="Enter Quantity" />
    </div>
    <br />
    <div class="input-group">
        <label for="SupplierId" class="input-group-addon">Supplier</label>
        <select class="form-control" name="SupplierId">
            @foreach (var supplier in Model)
            {
                <option value="@supplier.Id">@supplier.Name</option>
            }
        </select>
    </div>
    <br />
    <div>
        <input type="submit" value="Add Part" class="btn btn-success" />
        <input type="reset" value="Reset" class="btn btn-danger" />
    </div>

</form>
<br />

<div>
    @Html.ActionLink("Back to List", "Index", "Parts")
</div>
